# Configure UMA das opções abaixo (OpenAI OU Google Gemini)

# --- OpenAI ---
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_LLM_MODEL=gpt-5-nano

# --- Google Gemini ---
GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL=models/embedding-001
GOOGLE_LLM_MODEL=gemini-2.5-flash-lite

# --- Banco de dados ---
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/rag

# --- Configurações ---
PG_VECTOR_COLLECTION_NAME=pdf_chunks
PDF_PATH=document.pdf
